body {
  margin: 0;
  padding: 0;
}
header {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkblue;
  padding: 20px;
  color: white;
}
section {
  background-color: lightgray;
  padding: 2px;
  color: white;
}
label {
  padding: 5px;
}

input,
select {
  width: 200px;
  padding: 3px 10px;
  border-radius: 2px;
}

.controller {
  margin-left: 25px;
}

/* Button CSS */
.btn {
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

/* Green */
.success {
  border-color: #4caf50;
  color: green;
}

.success:hover {
  background-color: #4caf50;
  color: white;
}

/* Blue */
.info {
  border-color: #2196f3;
  color: dodgerblue;
}

.info:hover {
  background: #2196f3;
  color: white;
}

.info:active {
  background: #2196f3;
  color: white;
}

/* Orange */
.warning {
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

/* Red */
.danger {
  border-color: #f44336;
  color: red;
}

.danger:hover {
  background: #f44336;
  color: white;
}

/* Gray */
.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: #e7e7e7;
}

/* d3 */
.chart-container {
  margin-left: 10px;
  max-width: 100%;
}
.line {
  fill: none;
  stroke: blueviolet;
  stroke-width: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 10px;
}
